a.out
*.o
*.bc
*.diff
*.stderr
*.stdout
*.log
*.aux
*.mrk
*.tmp
.k
dist
tools/llvm-dis-xml/build

semantics/*.ll
semantics/*.s
semantics/*.c
semantics/*.kast
semantics/*.xml
semantics/*.out
semantics/llvm-compiled.maude
